main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button {
 border-radius: 2px;
}

@media (width <= 1200) {
 main .button {
  padding: 20px; 
 }
}

@media (width > 1500) {
  main .button {
  margin: 0px 130px;
  }
}  

.text-right {
 text-align : right;
}

.text-left {
 text-align : left;
}

.text-center {
 text-align : center;
}

.hero-wrapper {
  background-image: linear-gradient(to right, hsla(261.96deg, 19.49%, 93.68%, 0.50), #dedede);
}
